<section class="actions">
    <form action="/refill" method="POST">
        <h2>Salary time? Refill your account amount.</h2>
        <input type="text" id="refill-amount" name="refillAmount">
        <button type="submit">Refill</button>
    </form>
    <div>
        <h2>New expense comming up?</h2>
        <a href="/create">Add it now</a>
    </div>
</section>