<nav>
    <ul>
        <li>
            <a id="home" class="left-floated" href="/">MoneyGone</a>
        </li>
    </ul>
    {{#if user}}
    <ul>
        <li>
            <a class="right-floated" href="/profile">[{{user.username}} profile]</a>
        </li>
        <li>
            <a class="right-floated" href="/logout">Logout</a>
        </li>
    </ul>
    {{else}}
    <ul>
        <li>
            <a class="right-floated" href="/login">Login</a>
        </li>
    </ul>
    {{/if}}

</nav>